{% extends 'builder/base.html' %}
{% load static %}
{% block title %}Customize{% endblock %}
{% block content %}
<h1>Work Place</h1>
<section>
<h1>
    <div class="container-fluid text-center" style="padding: 20px;">
    
        <div class="row nav1">
            <div id="pen" class="col">
            <h4><i class="fa-solid fa-pen"></i></h4>
            </div>
            <div id="pen" class="col">
            <h4><i class="fa-solid fa-shapes"></i></h4>
            </div>
            <div id="pen" class="col">
            <h4><i class="fa-solid fa-palette"></i></h4>
            </div>
            <div id="pen" class="col">
            <h4><i class="fa-regular fa-square"></i></h4>
            </div>
            <div id="pen" class="col">
            <h4><i class="fa-solid fa-font"></i></h4>
            </div>
            <div id="pen" class="col">
            <h4><i class="fa-solid fa-rotate-left"></i></h4>
            </div>
        </div>
    
    
    </div>
</h1>
</section>
<main>
<div class="paper">
    
</div><br>
</main>
</body>

{% endblock %}