body{
  display: grid;
  grid-template-columns: 10.2rem auto;
}
/* html {
    height: 100%;
    width: 100%;
  } */
  
  a {
    color: aliceblue;
  }
  
  .header {
    width: 100px;
    height: 600px;
    position: sticky;
  }
  
  li {
    line-height: 6.5rem;
  }

  li:hover{
    border-right: 8px solid white;
  }
  
  #card {
    padding: 10px;
    color: white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(95, 96, 99, 0.411);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  #log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    font-family: 'Poppins', sans-serif;
  }

  .login{
    padding: 0.5rem 6rem;
    margin-left: 95%;
    background-color: #071952;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .login:hover{
    box-shadow: 0 0 8px #37B7C3;
  }
.reg_a{
  text-decoration: none;
  font-weight: bolder;
  color: #071952;
}
.nav1{
  background-color: #088395;
  padding: 7px;
  box-shadow: 0 0 10px #088395;
  border-radius: 90px;
  width: 950px;

}
.paper{
  height: 800px;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.genders{
  /* background-color: black; */
  /* color: aliceblue; */
  display: grid;
  grid-template-columns: 33% 33% 34%;
  width: 220px;
  height: 100px;
  align-items: center;

}

.male,.female,.other{
  grid-gap: 2rem;
}

.p{
  display: grid;
  grid-template-columns: 50% 50%;
}

.p1,.p2{
  line-height: 2rem;
}

.dob{
  width: 164px;
}

h1{
  font-family: "Gupter";
  font-size: 55px;
  font-weight: 500;
  font-variant: small-caps;
}
h2{
  font-family:"Roboto slab";
  text-transform: uppercase;
}
/* Education section */
/* .education{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 1300px;
  height: 400px;
  align-items: center;
  box-shadow: 0 0 10px #071952;
  border: 2px solid black;
  border-radius: 25px;
  padding: 5rem;
  gap: 30px;
} */

.education{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.school,.college{
  line-height: 3rem;
  /* border: 2px solid black; */
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

/* Experience */
.experience{
  line-height: 4rem;
  border: 2px solid #071952;
  box-shadow: 0 0 10px;
  padding:4REM ;
  border-radius: 25px;
  text-align: center;
}

input{ 
  outline:none;
  padding: 3px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

button{
  background-color: none;
  /* border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  padding: 0.2rem;

}

button:hover{
  background-color: green;
  color: white;
}

  